.footer-navigation {
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    @include flex(row, wrap, space-around, center);
    li {
     a {
       @include font('Lato', 400, 16px, normal, normal, normal, #FFFFFF);
       padding: 25px 0;
       text-transform: uppercase;
       display: inline-block;
       position: relative;
       padding: 20px 0;
      }
    }
  }
  ul li a:hover,
  .current-menu-item a,
  .current_page_item a {
    color: #FFFF00;
    text-decoration: underline !important;
  }
}
