.main-navigation {
    max-width: 196px;
    width: 100%;
    margin: 80px auto 0;
    ul {
        @include flex(column, wrap, space-around, flex-start);
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            padding: 0 0 0 25px;
            width: 100%;
            box-sizing: border-box;
            border-bottom: 1px solid #FC7338;
            position: relative;
            // &.menu-item-has-children a {
            //   &::after {
            //     content: "\f0d7";
            //     font-family: 'FontAwesome';
            //     color: #FFFFFF;
            //     transition: all .2s linear;
            //     display: inline-block;
            //     vertical-align: middle;
            //     font-size: 18px;
            //     margin-left: 10px;
            //     position: relative;
            //     top: -2px;
            //   }
            //   &:hover::after {
            //     transform: rotateZ(180deg);
            //   }
            // }
            ;
            &:last-of-type {
                border-bottom: none;
            }
            &::before {
                content: url(../../uploads/2019/09/mini-arrow.png);
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
            a {
                @include font('Lato', 300, 20px, normal, normal, normal, #FFFFFF);
                padding: 25px 0;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                padding: 20px 0;
            }
        }
    }
    .current-menu-item a::before {
        transform: scaleX(1);
    }
    ul li a:hover,
    .current-menu-item a,
    .current_page_item a {
        color: #FFFF00;
        text-decoration: underline!important;
    }
    ul li:hover ul {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
    }
}