.social-navigation {
    text-align: center;
    .svg-icon {
        display: none;
    }
    ul {
        margin: 0 !important;
        list-style: none;
        display: block;
        padding: 0;
        li {
            transition: all .4s linear;
            border-radius: 50%;
            height: 33px;
            width: 33px;
            margin: 0 5px;
            background: #FFFFFF;
            &:hover {
                box-shadow: 0px 0px 20px #000;
                transform: rotateZ(360deg);
            }
            a {
                color: rgba(221, 66, 0, 0.9);
                &::before {
                    font-size: 18px;
                    position: relative;
                    top: 9px;
                }
            }
        }
    }
}