.wp-block-button {
  a, input {
    width: 126px;
    padding: 10px 0;
    margin: 15px 0;
    display: inline-block;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.5s ease;
    border: 1px solid transparent;
  }
  a:hover, input:hover{
    background: #333333!important;
  }
}
.btn {
    width: 126px;
    padding: 10px 0;
    margin: 15px 0;
    display: inline-block;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    background: #0172B6;
  }

.btn:hover {
    background: #333333 !important;
}

@media screen and (max-width: 599px) {
  .btn {
    margin: 0 auto 10px !important;
  }
}
