a {
  -webkit-transition: all .5s ease;
  text-decoration: none !important;
  text-decoration: none;
  transition: all .5s ease;
  color: #555;
  &:visited {
    -webkit-transition: all .5s ease;
    text-decoration: none !important;
    text-decoration: none;
    transition: all .5s ease;
    color: #555;
  }
  &:hover {
    text-shadow: 0px 0px 5px #000;
  }
  &:focus {
    outline: none !important;
  }
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 110%;
  margin: 0 auto;
}

h1 {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 54px;
  color: #6A7A64;
  strong{
    font-weight: 400;
  }
}

h2 {
   font-family: 'Allura';
  font-size: 40px;
  font-weight: 300;
}

h3 {
  font-family: 'Allura';
  font-size: 62px;
  font-weight: 400;
  color: #015688;
}

p, ul, ol {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .03em;
  line-height: 180%;
  font-weight: 400;
  font-size: 15px;
  color: #535353;
}

p:last-of-type {
  margin: 0 !important;
}

@media screen and (max-width: 500px) {
  h1, h2 {
    font-size: 40px;
  }
}
