html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 100%;
  min-width: 1200px;
}

@media screen and (max-width: 1200px) {
  body {
    min-width: 320px;
  }
}

/*###################################
## Layouts
###################################*/

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  word-wrap: normal !important;
  overflow: hidden;
  height: 1px;
  margin: -1px;
  padding: 0;
  width: 1px;
  border: 0;
}

.wp-block-column, .blocks-gallery-item {
  margin: 0 !important;
}

.has-1-columns .wp-block-column {
  flex-basis: 100%;
}

.container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 0;
}

.row {
  max-width: 1440px;
  margin: 0 auto;
}

.cta {
  display: none;
}

.grecaptcha-badge {
  z-index: 999999;
}

@media screen and (max-width: 800px) {
  .cta {
    background: #D7BA5A url("assets/images/phonecall.png") no-repeat center center;
    border-bottom-left-radius: 40px;
    border-top: 2px solid #000;
    border-top-left-radius: 40px;
    text-decoration: none;
    text-indent: -9999em;
    position: fixed;
    display: block;
    bottom: 13%;
    height: 80px;
    width: 100px;
    z-index: 999;
    right: 0;
  }
  #wprmenu_bar {
    box-shadow: 0px 0px 2px #000;
    .menu_title a {
      color: #FFF;
      top: 0;
    }
  }
  html body div.wprm-overlay {
    background: transparent;
  }
  .logged-in #wprmenu_menu_ul {
    top: 47px !important;
  }
}
