#menu{
    background: url(../../uploads/2019/09/our-menu_background.jpg)no-repeat center bottom;
    background-size: cover;
    padding: 80px 0 40px;
    .container{
        @include flex(row,nowrap,space-between,stretch);
    }
}
#menu .menu-item{
    margin: 10px 0!important;
    max-width: 310px;
    width: (310px / 990px) * 100%;
    flex-basis: (310px / 990px) * 100%;
    &.text{
        background-color: rgba(221, 66, 0, 0.9);
        padding: 30px;
        box-sizing: border-box;
        h2{
            line-height: 150%;
            color: #FFFFFF;
        }
    }
    .wp-block-image{
        margin: 0!important;
    }
}

#testimonials{
    background: url(../../uploads/2019/09/testimonials_background.jpg)no-repeat center top;
    background-size: cover;
    padding: 40px 0;
    .context{
        font-family: 'Allura';
        line-height: 120%;
        color: #FFFFFF;
        max-width: 1045px;
        padding: 0 65px 0;
        box-sizing: border-box;
        margin: 0 auto;
        position: relative;
        &::before{
            content:url(../../uploads/2019/09/quote.png);
            position: absolute;
            top: -10px;
            left: -10px;
        }
        &::after{
            content:url(../../uploads/2019/09/quote.png);
            position: absolute;
            bottom: -10px;
            right: -10px;
            transform: rotateY(180deg);
        }
    }
    .author{
        margin: 20px 0 0!important;
        font-family: "Lato";
        font-weight: 300;
        color: #FFFFFF;
    }
}