#welcome{
    background: url(../..//uploads/2019/09/welcome_background.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 0 0 140px;
    .container{
        max-width: 1440px;
        width: 95%;
    }
    blockquote{
        max-width: 990px!important;
        border-left: 10px solid #FF4E00;
        p{
            font-family: "Allura";
            font-size: 29px;
            font-weight: 400;
            color: #015688;
            letter-spacing: 0.01em;
            line-height: 120%;
            strong{
                font-weight: 400;
                color: #FF4E00;
            }
        }
    }
}
.welcome-left{
    max-width: 569px;
    width:50%;
    margin: 0 0 0 auto!important;
    padding: 20px 35px 0 0;
    h1{
        line-height: 90%;
        &::after{
            content: url('../../uploads/2019/09/welcome-bottom-border.png');
        }
    }
    h3{
        line-height: 85%;
    }
    p{
        font-family: 'Lato';
        font-weight: 300;
        text-align: justify;
        line-height: normal;
        letter-spacing: normal;
    }
}
.welcome-right{
    max-width: 612px;
    width: 50%;
    position: relative;
    .wp-block-cover{
        height: auto;
        overflow: unset;
    }
    p{
        position: absolute;
        top: -63px;
        max-width: 345px;
        width:100%;
        line-height: 140%;
        z-index: 999999;
        background: rgba(221, 66, 0, 0.9);
        font-family: 'Allura';
    }
}