#products{
    background: url(../../uploads/2019/09/food-type_background.jpg);
    background-size: cover;
    min-height: 220px;
    .container{
        @include flex(row,wrap,space-between,stretch);
    }
}
.products-image{
    position: relative;
    margin: -104px 0 -60px !important;
    height: 100%;
    min-width: 232px;
    width: ( 232px / 990px ) * 100%;
    flex-basis: (232px / 990px) * 100%;
    p{
        position: absolute;
        right: 0;
        left: 0;
        font-family: Lato;
        font-weight: 300;
        font-size: 30px;
        line-height: 100%;
        padding: 10px 0 15px;
        color: #FFFFFF;
        background: rgba(221, 66, 0, 0.9);
        &.product1 {
            top:55%;
            transform: translateY(-45%);
        }
        &.product2 {
            top:39%;
            transform: translateY(-71%);
        }
        &.product3 {
            top:71%;
            transform: translateY(-39%);
        }
        &.product4 {
            top:55%;
            transform: translateY(-45%);
        }
    }
}