.site-footer{
    background: #DD4200;
    .container{
        @include flex(row,wrap,space-between,center);
    }
}
.footer-nav{
    max-width: 480px;
    width: 50%;
}
.copyright{
    width: 50%;
    text-align: center;
    @include font('Lato', 400, 16px, normal, normal, normal, #FFFFFF);
}
.silver{
    padding: 10px 0;
    text-align: center;
    @include font('Lato',400,13px,normal,normal,normal,#FFFFFF);
    margin:0;
    a{
     color:#0099ff;
    }
    img{
        display: inline-block;
        vertical-align: middle;
    }
}
