.site-header {
    position: relative;
    z-index: 1;
    .container {
        position: relative;
    }
}

.hd-wrap {
    position: relative;
    background: rgba(221, 66, 0, 0.9);
    width: 100%;
    max-width: 286px;
    min-height: 755px;
    height: 100%;
    padding: 90px 0 0;
    box-sizing: border-box;
    z-index: 999;
}

.header-phone {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    font-family: cursive;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #DB4708;
    padding: 0 0 0 15px;
    a {
        text-decoration: none;
        font-family: 'Lato';
        font-size: 20px;
        max-width: 185px;
        width: 100%;
        font-weight: 400;
        color: #FFFFFF;
        background-color: #2E709B;
        padding: 6px 24px;
        margin: 0 0 0 10px;
    }
}

.header-social-nav {
    h3 {
        @include font(cursive, 400, 26px, normal, normal, normal, #FFFFFF);
        text-align: center;
        margin: 26px 0;
    }
}