/*
Theme Name: Mandovi Foods
Theme URI:
Author: the Development team
Author URI: https://wordpress.org/
Description: A theme for WordPress 5.
Requires at least: WordPress 5.2.3
Version: 1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: wp5default
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

WP5 Default is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }

body { font-family: 'Open Sans', sans-serif; margin: 0 auto; width: 100%; min-width: 1200px; }

@media screen and (max-width: 1200px) { body { min-width: 320px; } }

/*###################################
## Layouts
###################################*/
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; word-wrap: normal !important; overflow: hidden; height: 1px; margin: -1px; padding: 0; width: 1px; border: 0; }

.wp-block-column, .blocks-gallery-item { margin: 0 !important; }

.has-1-columns .wp-block-column { -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.container { width: 100%; max-width: 990px; margin: 0 auto; padding: 0; }

.row { max-width: 1440px; margin: 0 auto; }

.cta { display: none; }

.grecaptcha-badge { z-index: 999999; }

@media screen and (max-width: 800px) { .cta { background: #D7BA5A url("assets/images/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px; border-top: 2px solid #000; border-top-left-radius: 40px; text-decoration: none; text-indent: -9999em; position: fixed; display: block; bottom: 13%; height: 80px; width: 100px; z-index: 999; right: 0; }
  #wprmenu_bar { -webkit-box-shadow: 0px 0px 2px #000; box-shadow: 0px 0px 2px #000; }
  #wprmenu_bar .menu_title a { color: #FFF; top: 0; }
  html body div.wprm-overlay { background: transparent; }
  .logged-in #wprmenu_menu_ul { top: 47px !important; } }

/*###################################
## Fonts
###################################*/
a { -webkit-transition: all .5s ease; text-decoration: none !important; text-decoration: none; -o-transition: all .5s ease; transition: all .5s ease; color: #555; }

a:visited { -webkit-transition: all .5s ease; text-decoration: none !important; text-decoration: none; -o-transition: all .5s ease; transition: all .5s ease; color: #555; }

a:hover { text-shadow: 0px 0px 5px #000; }

a:focus { outline: none !important; }

h1, h2, h3 { font-family: 'Playfair Display', serif; font-weight: 400; line-height: 110%; margin: 0 auto; }

h1 { font-family: 'Lato'; font-weight: 300; font-size: 54px; color: #6A7A64; }

h1 strong { font-weight: 400; }

h2 { font-family: 'Allura'; font-size: 40px; font-weight: 300; }

h3 { font-family: 'Allura'; font-size: 62px; font-weight: 400; color: #015688; }

p, ul, ol { font-family: 'Open Sans', sans-serif; letter-spacing: .03em; line-height: 180%; font-weight: 400; font-size: 15px; color: #535353; }

p:last-of-type { margin: 0 !important; }

@media screen and (max-width: 500px) { h1, h2 { font-size: 40px; } }

/*###################################
## Buttons
###################################*/
.wp-block-button a, .wp-block-button input { width: 126px; padding: 10px 0; margin: 15px 0; display: inline-block; font-family: 'Lato'; font-weight: 300; font-size: 14px; text-transform: uppercase; color: #FFF; border-radius: 5px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; border: 1px solid transparent; }

.wp-block-button a:hover, .wp-block-button input:hover { background: #333333 !important; }

.btn { width: 126px; padding: 10px 0; margin: 15px 0; display: inline-block; font-family: 'Lato'; font-weight: 300; font-size: 14px; text-transform: uppercase; color: #FFF; border-radius: 5px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; border: 1px solid transparent; background: #0172B6; }

.btn:hover { background: #333333 !important; }

@media screen and (max-width: 599px) { .btn { margin: 0 auto 10px !important; } }

/*###################################
## Search
###################################*/
.sidebar form, .error-404 form { position: relative; max-width: 700px; margin: 10px auto; }

.sidebar input[type="search"], .error-404 input[type="search"] { width: 100%; padding: 5px 10px; }

.sidebar input[type="submit"], .error-404 input[type="submit"] { background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#ccc)); background: -webkit-linear-gradient(top, #FFF, #ccc); background: -o-linear-gradient(top, #FFF, #ccc); background: linear-gradient(to bottom, #FFF, #ccc); border: 1px solid #000; position: absolute; padding: 6px; right: 0; top: 0; }

.sidebar .widget:not(:nth-of-type(1)) { background: rgba(255, 255, 255, 0.5); border-bottom: 1px solid #CCC; padding-bottom: 20px; margin-bottom: 20px; padding: 10px 20px; }

.sidebar input[type="submit"] { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; }

.error-404 input[type="submit"] { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; }

.sidebar input[type="submit"]:hover, .error-404 input[type="submit"]:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

/*###################################
## Forms
###################################*/
/*###################################
## Menus
###################################*/
/*Main Menu*/
.main-navigation { max-width: 196px; width: 100%; margin: 80px auto 0; }

.main-navigation ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column wrap; flex-flow: column wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; margin: 0; padding: 0; list-style: none; }

.main-navigation ul li { padding: 0 0 0 25px; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom: 1px solid #FC7338; position: relative; }

.main-navigation ul li:last-of-type { border-bottom: none; }

.main-navigation ul li::before { content: url(../../uploads/2019/09/mini-arrow.png); position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.main-navigation ul li a { font-family: "Lato"; font-weight: 300; font-size: 20px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; padding: 25px 0; text-transform: uppercase; display: inline-block; position: relative; padding: 20px 0; }

.main-navigation .current-menu-item a::before { -webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1); }

.main-navigation ul li a:hover, .main-navigation .current-menu-item a, .main-navigation .current_page_item a { color: #FFFF00; text-decoration: underline !important; }

.main-navigation ul li:hover ul { visibility: visible; opacity: 1; margin-top: 0; }

/*Sub Menu*/
.main-navigation ul ul { background: rgba(106, 123, 100, 0.9); -webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; -webkit-box-shadow: 0px 0px 2px #555; box-shadow: 0px 0px 2px #555; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 5px; position: absolute; visibility: hidden; margin-top: 50px; width: 250px; display: block; opacity: 0; }

.main-navigation ul ul li { display: block; margin-right: 0; }

.main-navigation ul ul li a { padding: 10px; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; }

.main-navigation ul ul li a::after, .main-navigation ul ul li a::before { display: none !important; }

.main-navigation ul ul li a:hover { background: #D7BA5A; }

/*Sub Sub Menu*/
/*Footer Menu*/
.footer-navigation ul { width: 100%; margin: 0; padding: 0; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.footer-navigation ul li a { font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; padding: 25px 0; text-transform: uppercase; display: inline-block; position: relative; padding: 20px 0; }

.footer-navigation ul li a:hover, .footer-navigation .current-menu-item a, .footer-navigation .current_page_item a { color: #FFFF00; text-decoration: underline !important; }

/*Social Menu*/
.social-navigation { text-align: center; }

.social-navigation .svg-icon { display: none; }

.social-navigation ul { margin: 0 !important; list-style: none; display: block; padding: 0; }

.social-navigation ul li { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; border-radius: 50%; height: 33px; width: 33px; margin: 0 5px; background: #FFFFFF; }

.social-navigation ul li:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; -webkit-transform: rotateZ(360deg); -ms-transform: rotate(360deg); transform: rotateZ(360deg); }

.social-navigation ul li a { color: rgba(221, 66, 0, 0.9); }

.social-navigation ul li a::before { font-size: 18px; position: relative; top: 9px; }

/*###################################
## Header
###################################*/
.site-header { position: relative; z-index: 1; }

.site-header .container { position: relative; }

.hd-wrap { position: relative; background: rgba(221, 66, 0, 0.9); width: 100%; max-width: 286px; min-height: 755px; height: 100%; padding: 90px 0 0; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 999; }

.header-phone { position: absolute; top: 0; right: 0; z-index: 999; font-family: cursive; font-size: 20px; color: #FFFFFF; background-color: #DB4708; padding: 0 0 0 15px; }

.header-phone a { text-decoration: none; font-family: 'Lato'; font-size: 20px; max-width: 185px; width: 100%; font-weight: 400; color: #FFFFFF; background-color: #2E709B; padding: 6px 24px; margin: 0 0 0 10px; }

.header-social-nav h3 { font-family: cursive; font-weight: 400; font-size: 26px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; text-align: center; margin: 26px 0; }

/*###################################
## Banner
###################################*/
.site-banner { position: absolute; top: 0; left: 0; right: 0; }

.site-banner img { width: 100%; height: 755px; -o-object-fit: cover; object-fit: cover; }

/*###################################
## Content
###################################*/
/*Welcome*/
#welcome { background: url(../..//uploads/2019/09/welcome_background.jpg); background-attachment: fixed; background-size: cover; padding: 0 0 140px; }

#welcome .container { max-width: 1440px; width: 95%; }

#welcome blockquote { max-width: 990px !important; border-left: 10px solid #FF4E00; }

#welcome blockquote p { font-family: "Allura"; font-size: 29px; font-weight: 400; color: #015688; letter-spacing: 0.01em; line-height: 120%; }

#welcome blockquote p strong { font-weight: 400; color: #FF4E00; }

.welcome-left { max-width: 569px; width: 50%; margin: 0 0 0 auto !important; padding: 20px 35px 0 0; }

.welcome-left h1 { line-height: 90%; }

.welcome-left h1::after { content: url("../../uploads/2019/09/welcome-bottom-border.png"); }

.welcome-left h3 { line-height: 85%; }

.welcome-left p { font-family: 'Lato'; font-weight: 300; text-align: justify; line-height: normal; letter-spacing: normal; }

.welcome-right { max-width: 612px; width: 50%; position: relative; }

.welcome-right .wp-block-cover { height: auto; overflow: unset; }

.welcome-right p { position: absolute; top: -63px; max-width: 345px; width: 100%; line-height: 140%; z-index: 999999; background: rgba(221, 66, 0, 0.9); font-family: 'Allura'; }

/*Products*/
#products { background: url(../../uploads/2019/09/food-type_background.jpg); background-size: cover; min-height: 220px; }

#products .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

.products-image { position: relative; margin: -104px 0 -60px !important; height: 100%; min-width: 232px; width: 23.43434%; -ms-flex-preferred-size: 23.43434%; flex-basis: 23.43434%; }

.products-image p { position: absolute; right: 0; left: 0; font-family: Lato; font-weight: 300; font-size: 30px; line-height: 100%; padding: 10px 0 15px; color: #FFFFFF; background: rgba(221, 66, 0, 0.9); }

.products-image p.product1 { top: 55%; -webkit-transform: translateY(-45%); -ms-transform: translateY(-45%); transform: translateY(-45%); }

.products-image p.product2 { top: 39%; -webkit-transform: translateY(-71%); -ms-transform: translateY(-71%); transform: translateY(-71%); }

.products-image p.product3 { top: 71%; -webkit-transform: translateY(-39%); -ms-transform: translateY(-39%); transform: translateY(-39%); }

.products-image p.product4 { top: 55%; -webkit-transform: translateY(-45%); -ms-transform: translateY(-45%); transform: translateY(-45%); }

/*Menu*/
#menu { background: url(../../uploads/2019/09/our-menu_background.jpg) no-repeat center bottom; background-size: cover; padding: 80px 0 40px; }

#menu .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }

#menu .menu-item { margin: 10px 0 !important; max-width: 310px; width: 31.31313%; -ms-flex-preferred-size: 31.31313%; flex-basis: 31.31313%; }

#menu .menu-item.text { background-color: rgba(221, 66, 0, 0.9); padding: 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }

#menu .menu-item.text h2 { line-height: 150%; color: #FFFFFF; }

#menu .menu-item .wp-block-image { margin: 0 !important; }

#testimonials { background: url(../../uploads/2019/09/testimonials_background.jpg) no-repeat center top; background-size: cover; padding: 40px 0; }

#testimonials .context { font-family: 'Allura'; line-height: 120%; color: #FFFFFF; max-width: 1045px; padding: 0 65px 0; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto; position: relative; }

#testimonials .context::before { content: url(../../uploads/2019/09/quote.png); position: absolute; top: -10px; left: -10px; }

#testimonials .context::after { content: url(../../uploads/2019/09/quote.png); position: absolute; bottom: -10px; right: -10px; -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

#testimonials .author { margin: 20px 0 0 !important; font-family: "Lato"; font-weight: 300; color: #FFFFFF; }

/*###################################
## Footer
###################################*/
.site-footer { background: #DD4200; }

.site-footer .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.footer-nav { max-width: 480px; width: 50%; }

.copyright { width: 50%; text-align: center; font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

.silver { padding: 10px 0; text-align: center; font-family: "Lato"; font-weight: 400; font-size: 13px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; margin: 0; }

.silver a { color: #0099ff; }

.silver img { display: inline-block; vertical-align: middle; }

/*###################################
## Sidebar Blog
###################################*/
.sidebar { border: 1px solid #535353; -webkit-box-sizing: border-box; box-sizing: border-box; -ms-flex-preferred-size: 30%; flex-basis: 30%; padding: 20px; }

.sidebar h2 { font-size: 25px; margin: 0; }

.sidebar .widget_search { -webkit-box-sizing: border-box; box-sizing: border-box; background: #6A7A64; margin-bottom: 25px; padding: 20px; width: 100%; }

.sidebar .widget:last-of-type { margin-bottom: 0; }

/*###################################
## Inner Pages
###################################*/
.inner #content { padding: 180px 0 30px; min-height: 500px; }

.inner #content h1 { margin: 10px auto 30px; text-align: center; }

/*###################################
## Blog Page
###################################*/
.blog-container { padding-right: 5%; -ms-flex-preferred-size: 65%; flex-basis: 65%; }

.blog-list article { -webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; border: 1px solid #535353; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px; }

.blog-list article:not(:last-of-type) { margin-bottom: 40px; }

.blog-list article:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

.blog-title h2 { margin: 0 0 20px !important; font-size: 30px; }

.blog-header { -webkit-align-items: flex-end; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; margin-bottom: 10px; }

.blog-header p { margin: 0; }

.blog-header p span { font-style: italic; }

.blog-image { text-align: center; }

.blog-image img { -webkit-transition: all .5s linear; -o-transition: all .5s linear; transition: all .5s linear; max-width: 500px !important; height: auto !important; }

.blog-container .btn { margin-top: 10px !important; padding: 10px 20px; font-size: 13px; }

.pagination-n { text-align: right; margin-top: 15px; }

.pagination-n a { background: #D7BA5A; padding: 2px 10px; }

.pagination-n .current { background: #6A7A64; padding: 2px 10px; color: #FFF; }

@media screen and (max-width: 800px) { .blog-wrap { -webkit-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .blog-container { margin-bottom: 30px; padding-right: 0; } }

@media screen and (max-width: 500px) { .blog-header { -webkit-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .blog-header p, .blog-header h2 { text-align: center; width: 100%; }
  .blog-list article { text-align: center; }
  .blog-header h2 { font-size: 30px; }
  .blog-container .btn { margin-top: 20px !important; } }

/*###################################
## Search Page
###################################*/
.page-description { text-align: center; margin-bottom: 40px; font-weight: 700; font-size: 25px; display: block; }

.page-description::after { content: ' "'; }

.page-description::before { content: '" '; }

.search article { -webkit-transition: all .5s linear; -o-transition: all .5s linear; transition: all .5s linear; border: 1px solid #000; margin-bottom: 30px; padding: 20px; display: block; }

.search article:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

.search article:last-of-type { margin-bottom: 0; }

.search article h2 { margin: 0 0 20px; font-size: 35px; }

.search-con { padding-right: 5%; -ms-flex-preferred-size: 65%; flex-basis: 65%; }

@media screen and (max-width: 800px) { .search-wrap { -webkit-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .search-con { margin-bottom: 30px; padding-right: 0; } }

/*###################################
## Error Page
###################################*/
.error-404 { text-align: center; }
